extends baseLayout

block middle

    div#content
        form(action="/admin/createUserCandidate", method="post")
            div
                p Nutzer-Rolle*:
                select(name = "user_role_id")
                    each role, key in userRoles
                        option(value=role.id) #{role.name}
            div
                p Email*:
                    input(type="text", name="email")
            //div
            //    p Nutzergruppe
            //    select(name = "user_group_id")
            //        option(value="none") Keine
            //        if userGroups
            //            each group in userGroups
            //                option(value=group.user_group_id) #{group.name}
            br
            br
            button(type="submit") Speichern