extends baseLayout

block middle

    div#groupData
        h3 Group Data
        if groupData
            if groupData.users
                h2 Neueste Benutzer
                div#users.groupDataTable
                    ul
                        each user in groupData.users
                            li= user.username

            if groupData.userGroups
                h2 Neueste Nutzergruppen
                div#userGroups.groupDataTable
                    ul
                        each group in groupData.userGroups
                            li= group.name