extends layout

block content
    h1= Login

    div#head
        p Header
        if errMessage
            div.errMessage
                p.errMessage #{errMessage}

    div#main
        p Main
            form(action="/login", method="post")
                p Username:
                    input(type="text", name="username")
                p Passwort
                    input(type="text", name="password")
                br
                br
                button(type="submit") Anmelden

    div#bottom
        p Bottom