/*
Main Layout
*/

body, div {
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin-bottom: 10px;
}

div#head {
    /*background-color: #00A000;*/
    height: auto;
    width: 100%;
    clear: both;
}

div#main {
    /*background-color: #1d3e81;*/
    height: auto;
    width: 100%;
    clear: both;
}

div#bottom {
    /*background-color: #880000;*/
    height: auto;
    width: 100%;
    clear: both;
}

div#left {
    width: 20%;
    min-width: 100px;
}

div#middle {
    width: 60%;
    min-width: 300px;
}

div#right {
    width: 20%;
    min-width: 100px;
}

div > div.padding {
    padding: 5px;
}

.floatLeft {
    float: left;
}

div.errMessage {
    border: 1px solid #880000;
    padding: 10px;
    padding-bottom: 0;
}

p.errMessage {
    color: #880000;
    padding: 0;
}

div.succMessage {
    border-bottom: 1px solid #00A000;
    padding: 10px;
    padding-bottom: 0;
}

p.succMessage {
    color: #00A000;
    padding: 0;
}